<!-- Header -->
<div class="row">
  <div class="col">
    <h2>{{ 'REQUESTS.HEADER' | translate }}</h2>
  </div>
  <!-- Change Single/Group Request View -->
  <!-- <div class="col">
    <button
      ep-button
      ep-colored="primary"
      ep-theme="ant"
      class="float-right"
      [epLoading]="isLoading"
      (click)="onGroupingViewClicked()">
      {{ (showSingleGrouping ? 'MY_REQUESTS.BTN.GROUP_VIEW' : 'MY_REQUESTS.BTN.SINGLE_VIEW') | translate | uppercase }}
    </button>
  </div> -->

  <!-- NEW REQUEST -->

  <div class="col">
    <button ep-button ep-colored="primary" ep-theme="ant" class="float-right" [routerLink]="'/requests/new'">
      {{ 'REQUESTS.BTN_NEW' | translate | uppercase }}
    </button>
  </div>
</div>
<hr />

<!-- Actions -->
<app-requests-actions-bar *ngIf="showSingleGrouping"></app-requests-actions-bar>

<hr *ngIf="showSingleGrouping"/>

<!-- Table -->
<div class="row">
  <div class="col">

    <!-- Single request view -->
    <app-requests-table *ngIf="showSingleGrouping"
                        [columns]="columns"
                        [sortConfig]="sortConfig"
                        [showOnlyMyRequests]="true"
                        (loaded)="onLoadedViewRecords()"></app-requests-table>

    <!-- Group request view -->
    <!-- <app-lot-groups-requests *ngIf="!showSingleGrouping"
                             (loaded)="onLoadedViewRecords()"></app-lot-groups-requests> -->

  </div>
</div>
