<!-- Header -->
<div class="row">
  <div class="col">
    <h2>{{ 'EDIT_REQUEST.HEADER' | translate }}</h2>
  </div>
</div>

<hr />

<!-- Main Informations -->
<app-edit-request-generic-content [deadlineTime]="deadlineTime" [selectedSignatureType]="selectedSignatureType"
  [signatories]="signatories" [securityAndRoles]="securityAndRoles" [metadata]="metadata" [isFormReady]="isFormReady"
  (formCreated)="onFormCreated($event)" (onSave)="onSaveHandler($event)" (onChanges)="onChanges($event)">
</app-edit-request-generic-content>
