<nz-layout [ngStyle]="{ 'flex-direction': 'row' }" class="disp__main">
  <app-sidebar [isCollapsed]="sidebarCollapsed">
  </app-sidebar>
  <nz-layout class="disp__content">
    <app-top-navbar
      [isCollapsed]="sidebarCollapsed"
      (clickTrigger)="toggleSidebar()">
    </app-top-navbar>
    <perfect-scrollbar style="margin-top:2rem">
      <nz-content>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </perfect-scrollbar>
  </nz-layout>
</nz-layout>

<!-- Notification overlay to show error, success and info messages -->
<ep-notification-overlay></ep-notification-overlay>
